*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#070b1a;
    color:white;
    overflow-x:hidden;
}

.background-glow{
    position:fixed;
    width:500px;
    height:500px;
    background:radial-gradient(circle,#7c3aed,#2563eb);
    filter:blur(180px);
    top:-150px;
    right:-150px;
    opacity:.4;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:28px;
    font-weight:700;
}

.nav-links a{
    margin-left:30px;
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:70px 10%;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    color:#b3b3b3;
    font-size:18px;
}

.prediction-card{
    width:80%;
    margin:auto;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(18px);
    border-radius:25px;
    padding:40px;
    box-shadow:0 0 30px rgba(124,58,237,.3);
}

.prediction-card h2{
    margin-bottom:20px;
}

textarea,
input{
    width:100%;
    background:#111827;
    border:none;
    border-radius:15px;
    padding:18px;
    color:white;
    margin-top:10px;
    margin-bottom:25px;
}

textarea{
    height:180px;
}

.divider{
    text-align:center;
    margin-bottom:20px;
    color:#7c3aed;
}

button{
    width:100%;
    padding:18px;
    border:none;
    border-radius:15px;
    background:linear-gradient(
    90deg,#7c3aed,#2563eb);
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
}

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:80px 8%;
    flex-wrap:wrap;
}

.feature-card{
    width:300px;
    background:rgba(255,255,255,.05);
    padding:30px;
    border-radius:20px;
}

footer{
    text-align:center;
    padding:30px;
    color:#aaa;
}

/* RESULT PAGE */

.result-page{
    padding:50px 8%;
}

.result-card{
    background:rgba(255,255,255,.08);
    padding:40px;
    border-radius:30px;
}

.real{
    border-left:8px solid #22c55e;
}

.fake{
    border-left:8px solid #ef4444;
}

.progress-container{
    width:100%;
    height:20px;
    background:#111827;
    border-radius:20px;
    margin:20px 0;
}

.progress-bar{
    height:100%;
    background:linear-gradient(
    90deg,#7c3aed,#2563eb);
    border-radius:20px;
}

.stats-grid{
    display:flex;
    gap:20px;
    margin-top:30px;
    flex-wrap:wrap;
}

.stat-card{
    flex:1;
    min-width:200px;
    background:#111827;
    padding:20px;
    border-radius:20px;
    text-align:center;
}

.analytics{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-top:40px;
}

.chart-card{
    background:#111827;
    padding:20px;
    border-radius:20px;
}

.chart-card img{
    width:100%;
    border-radius:15px;
}

.back-btn{
    display:inline-block;
    margin-top:40px;
    background:#7c3aed;
    padding:15px 30px;
    border-radius:12px;
    color:white;
    text-decoration:none;
}